/* si se deja solo vcenter, entonces no funciona porque lo sobreescribe bootstrap */
.vcenter {
    vertical-align: middle !important;
}

table > thead > tr > td {
    font-weight: bold !important;
}

.nopadding {
    padding: 0 !important;
}

.alert {
    display: none;
    margin-bottom: 0 !important;
}

.jumbotron {
    margin-bottom: 10px !important;
}
