<!DOCTYPE html>
<html lang="es">
<head>
    <title>La web del curso</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="estilos.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="controllers.js"></script>
    <script>
        // $(document).ready(function () {
        // });
    </script>
</head>
<body>
<div class="container-fluid" data-ng-app="clientesProviderApp" data-ng-controller="SubtitleCtrl">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <h1>Telapong S.A.</h1>
                <p>{{subtitulo}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading data-ng-click="modificar_subtitulo('listado')">
                        <span class="glyphicon glyphicon-search"></span> Listado de clientes
                    </uib-tab-heading>
                    <div class="row" data-ng-controller="ListadoCtrl">
                        <div class="col-xs-12">
                            <div class="row" style="padding-top: 10px;">
                                <div class="col-sm-1">
                                    <button class="btn btn-primary btn-lg" data-ng-click="boton_buscar()" data-ng-class="{'disabled': boton_buscar_disabled}">
                                        <span class="glyphicon glyphicon-search"></span> Buscar
                                    </button>
                                </div>
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="alert alert-info" data-ng-class="{'show': alert_shown == 'realice-busqueda'}">
                                        <span class="glyphicon glyphicon-info-sign"></span> Realice una búsqueda para cargar la lista de clientes.
                                    </div>
                                    <div class="alert alert-info" data-ng-class="{'show': alert_shown == 'comprobando-disponibilidad'}">
                                        <span class="glyphicon glyphicon-info-sign"></span> Comprobando disponibilidad del servidor. Por favor, espere.
                                    </div>
                                    <div class="alert alert-danger" data-ng-class="{'show': alert_shown == 'ocupado'}">
                                        <span class="glyphicon glyphicon-remove"></span> El servidor se encuentra ocupado. Por favor, espere un momento e intente nuevamente.
                                    </div>
                                    <div class="alert alert-success" data-ng-class="{'show': alert_shown == 'disponible'}">
                                        <span class="glyphicon glyphicon-ok"></span> El servidor esta disponible para atender el pedido.
                                    </div>
                                    <div class="alert alert-danger" data-ng-class="{'show': alert_shown == 'error'}">
                                        <span class="glyphicon glyphicon-remove"></span> Hubo un error. Intente nuevamente.
                                    </div>
                                    <div class="alert alert-warning" data-ng-class="{'show': alert_shown == 'agotado'}">
                                        <span class="glyphicon glyphicon-warning-sign"></span> No hay más clientes.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Impares</h2>
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead class="text-center">
                                        <tr>
                                            <td></td>
                                            <td class="vcenter">ID</td>
                                            <td class="vcenter">Razón social</td>
                                            <td class="vcenter visible-lg">Dirección</td>
                                            <td class="vcenter">Presidente</td>
                                            <td class="vcenter">Patrimonio neto</td>
                                            <!-- <td class="vcenter visible-lg">Inicio de act.</td> -->
                                            <td class="vcenter">Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="x in clientes | filtrarParidad: 'impar' | orderBy: '-id'">
                                            <td class="vcenter text-center nopadding">
                                                <img src="" data-ng-src="{{x.logo.replace('w=32', 'w=36').replace('h=32', 'h=36')}}" alt="logo">
                                            </td>
                                            <td class="vcenter">{{x.id}}</td>
                                            <td class="vcenter">{{x.razon_social}}</td>
                                            <td class="vcenter visible-lg">{{x.direccion_calle + ' ' + x.direccion_altura + ', ' + x.ciudad.nombre}}</td>
                                            <td class="vcenter">{{x.presidente.nombre + " " + x.presidente.apellido}}</td>
                                            <td class="vcenter text-right {{x.activo >= x.pasivo ? 'success' : 'danger'}}">$ {{(x.activo - x.pasivo).toFixed(2)}}</td>
                                            <td class="vcenter text-center">
                                                <button class="btn btn-danger" data-ng-click="borrar_cliente(x.id)" data-uib-tooltip="Este proceso es irreversible. Haga click nuevamente para borrar el cliente" data-tooltip-placement="left" data-tooltip-trigger="click" data-tooltip-enable="!remove_cliente_warning_shown">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h2>Pares</h2>
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead class="text-center">
                                        <tr>
                                            <td></td>
                                            <td class="vcenter">ID</td>
                                            <td class="vcenter">Razón social</td>
                                            <td class="vcenter visible-lg">Dirección</td>
                                            <td class="vcenter">Presidente</td>
                                            <td class="vcenter">Patrimonio neto</td>
                                            <!-- <td class="vcenter visible-lg">Inicio de act.</td> -->
                                            <td class="vcenter">Eliminar</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="x in clientes | filtrarParidad: 'par' | orderBy: '-id'">
                                            <td class="vcenter text-center nopadding">
                                                <img src="" data-ng-src="{{x.logo.replace('w=32', 'w=36').replace('h=32', 'h=36')}}" alt="logo">
                                            </td>
                                            <td class="vcenter">{{x.id}}</td>
                                            <td class="vcenter">{{x.razon_social}}</td>
                                            <td class="vcenter visible-lg">{{x.direccion_calle + ' ' + x.direccion_altura + ', ' + x.ciudad.nombre}}</td>
                                            <td class="vcenter">{{x.presidente.nombre + " " + x.presidente.apellido}}</td>
                                            <td class="vcenter text-right {{x.activo >= x.pasivo ? 'success' : 'danger'}}">$ {{(x.activo - x.pasivo).toFixed(2)}}</td>
                                            <td class="vcenter text-center" data-toggle="tooltip" title="Este proceso es irreversible" data-placement="left">
                                                <button class="btn btn-danger" data-ng-click="borrar_cliente(x.id)" data-uib-tooltip="Este proceso es irreversible. Haga click nuevamente para borrar el cliente" data-tooltip-placement="left" data-tooltip-trigger="click" data-tooltip-enable="!remove_cliente_warning_shown">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading data-ng-click="modificar_subtitulo('nuevo')">
                        <span class="glyphicon glyphicon-plus"></span> Nuevo cliente
                    </uib-tab-heading>
                    <div class="row" data-ng-controller="NuevoCtrl">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-success" data-ng-class="{'show': alert_shown == 'cargado-exito'}">
                                        <span class="glyphicon glyphicon-ok"></span> El cliente fue agregado exitosamente.
                                    </div>
                                    <div class="alert alert-danger" data-ng-class="{'show': alert_shown == 'cargado-error'}">
                                        <span class="glyphicon glyphicon-remove"></span> Hubo un error al cargar el cliente.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>Nuevo Cliente</h2>
                                    <form data-ng-submit="alta_cliente()">
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label class="control-label visible-lg visible-md" for="razon-social">Razón social:</label>
                                                <input type="text" class="form-control" id="razon-social" placeholder="Razón social" data-ng-model="campos.razon_social">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label class="control-label visible-lg visible-md" for="logo">Logo:</label>
                                                <input type="text" class="form-control" id="logo" placeholder="Logo" data-ng-model="campos.logo">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label class="control-label visible-lg visible-md" for="direccion-calle">Calle:</label>
                                                <input type="text" class="form-control" id="direccion-calle" placeholder="Calle" data-ng-model="campos.direccion_calle">
                                            </div>
                                            <div class="col-sm-2 form-group">
                                                <label class="control-label visible-lg visible-md" for="direccion-altura">Altura:</label>
                                                <input type="text" class="form-control" id="direccion-altura" placeholder="Altura" data-ng-model="campos.direccion_altura">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label class="control-label visible-lg visible-md" for="ciudad-id">Ciudad:</label>
                                                <select class="form-control" id="ciudad-id" data-ng-model="campos.ciudad_id">
                                                    <option value="">Ciudad</option>
                                                    <option data-ng-repeat="x in ciudades" value="{{x.id}}">{{x.nombre + ', ' + x.pais.nombre}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label class="control-label visible-lg visible-md" for="activo">Activo:</label>
                                                <input type="text" class="form-control" id="activo" placeholder="Activo" data-ng-model="campos.activo">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label class="control-label visible-lg visible-md" for="pasivo">Pasivo:</label>
                                                <input type="text" class="form-control" id="pasivo" placeholder="Pasivo" data-ng-model="campos.pasivo">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label class="control-label visible-lg visible-md" for="presidente-id">Presidente del nombre:</label>
                                                <select class="form-control" id="presidente-id" data-ng-model="campos.presidente_id">
                                                    <option value="">Nombre del presidente</option>
                                                    <option data-ng-repeat="x in presidentes" value="{{x.id}}">{{x.nombre + ' ' + x.apellido}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                <button class="btn btn-primary">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
</body>
</html>
