<div>
    <div class="row">
        <div class="col-md-2 text-left">
            <button class="btn btn-primary btn-lg" ng-click="buscar()">Buscar</button>
        </div>
        <div class="col-md-10 text-left">
            <div id="alerta-roja" class="alert alert-danger"><i class="glyphicon glyphicon-warning-sign"></i> El
                servidor se encuentra ocupado. Por favor aguarde e intente nuevamente
            </div>
            <div id="alerta-verde" class="alert alert-success"><i class="glyphicon glyphicon-info-sign"></i> El
                servidor está disponible para atender el pedido
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tabla-clientes-par" class="table table-bordered table-striped table-hover">
                <thead class="text-center bold">
                    <tr>
                        <td></td>
                        <td>ID</td>
                        <td>Razón social</td>
                        <td>Patrimonio neto</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cliente in clientes">
                        <td>
                            <img ng-src="{{ cliente.logo }}">
                        </td>
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.razon_social }}</td>
                        <td>{{ (cliente.activo - cliente.pasivo).toFixed(2) }}</td>
                        <td ng-show="clientes.length == 0" class="text-center" colspan="6">
                            Sin clientes. Debe realizar una búsqueda.
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="borrar(cliente, $index)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>