<!DOCTYPE html>
<html lang="en">
<head>
    <title>La web del curso</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="estilos.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="controllers.js"></script>
    <script>
        $(document).ready(function () {


        });
    </script>
</head>
<body>
<div class="container" data-ng-app="clientesProviderApp" data-ng-controller="ClientesListCtrl" data-ng-init="clientes=[]">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <h1>Telapong S.A.</h1>

                <p>Listado de clientes oficiales</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-primary btn-lg" data-ng-click="pedirClientes()">Buscar</button>
        </div>
        <div class="col-sm-10">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2>Impares</h2>
            <table class="table table-bordered table-striped table-hover">
                <thead class="text-center bold">
                <tr>
                    <td></td>
                    <td class="vcenter">ID</td>
                    <td class="vcenter">Razón social</td>
                    <td class="vcenter">Presidente</td>
                    <td class="vcenter">Patrimonio neto</td>
                </tr>
                </thead>
                <tbody id="tbody-impar">
                <tr data-ng-repeat="x in clientes | filtrarParidad: 'impar' | orderBy: '-id'">
                    <td class="vcenter text-center nopadding">
                        <img src="{{ x.logo.replace('w=32', 'w=36').replace('h=32', 'h=36') }}" alt="logo">
                    </td>
                    <td class="vcenter text-center">{{ x.id }}</td>
                    <td class="vcenter">{{ x.razonSocial }}</td>
                    <td class="vcenter">{{ x.presidente.nombre + " " + x.presidente.apellido }}</td>
                    <td class="vcenter text-right{{ x.activo >= x.pasivo ? ' success' : ' danger'}}">$ {{ (x.activo - x.pasivo).toFixed(2) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h2>Pares</h2>
            <table class="table table-bordered table-striped table-hover">
                <thead class="text-center bold">
                <tr>
                    <td></td>
                    <td class="vcenter text-center nopadding">ID</td>
                    <td class="vcenter">Razón social</td>
                    <td class="vcenter">Presidente</td>
                    <td class="vcenter">Patrimonio neto</td>
                </tr>
                </thead>
                <tbody id="tbody-par">
                <tr data-ng-repeat="x in clientes | filtrarParidad: 'par' | orderBy: '-id'">
                    <td class="vcenter text-center nopadding">
                        <img src="{{ x.logo.replace('w=32', 'w=36').replace('h=32', 'h=36') }}" alt="logo">
                    </td>
                    <td class="vcenter" text-center>{{ x.id }}</td>
                    <td class="vcenter">{{ x.razonSocial }}</td>
                    <td class="vcenter">{{ x.presidente.nombre + " " + x.presidente.apellido }}</td>
                    <td class="vcenter text-right{{ x.activo >= x.pasivo ? ' success' : ' danger'}}">$ {{ (x.activo - x.pasivo).toFixed(2) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
