<div id="div-listado">
    <div class="row">
        <div class="col-md-2 text-left">
            <button id="boton-buscar" class="btn btn-primary btn-lg" ng-click="buscar()" ng-disabled="buscando">
                {{ buscando ? 'Buscando...' : 'Buscar' }}
            </button>
        </div>
        <div class="col-md-10 text-left">
            <div class="alert alert-info" ng-show="buscando">
                <i class="glyphicon glyphicon-refresh"></i>
                Buscando, por favor espere
            </div>
            <div class="alert alert-success" ng-hide="buscando">
                <i class="glyphicon glyphicon-info-sign"></i>
                El servidor está disponible para realizar búsquedas
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-repeat="paridad in [{key: 'impar', name: 'Impares'}, {key: 'par', name: 'Pares'}]">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ paridad.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="text-center bold">
                            <tr>
                                <td></td>
                                <td>ID</td>
                                <td>Razón social</td>
                                <td>Presidente</td>
                                <td>Patrimonio neto</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in clientes[paridad.key]">
                                <td class="text-center"><img src="{{ cliente.logo }}"></td>
                                <td>{{ cliente.id }}</td>
                                <td>{{ cliente.razon_social }}</td>
                                <td>{{ cliente.presidente.nombre + ' ' + cliente.presidente.apellido }}</td>
                                <td class="text-right" ng-class="cliente.activo >= cliente.pasivo ? 'success' : 'danger'">$ {{ (cliente.activo - cliente.pasivo).toFixed(2) }}</td>
                                <td class="text-center">
                                    <button class="btn btn-danger" ng-click="borrar(cliente, $index)" ng-disabled="borrando[cliente.id]">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>