.alert {
	display: none;
	margin-bottom: 0 !important;
}

table > thead > tr > td {
    font-weight: bold !important;
}

.nopadding {
    padding: 0 !important;
}

.vcenter {
    vertical-align: middle !important;
}