.opcion-roja {
    color: red;
}
.opcion-verde {
    color: green;
}

.negrita {
    font-weight: bold;
}

.subrayado {
    text-decoration: underline;
}

.letra-grande {
    font-size: 20px;
}

div>.negrita.letra-grande {
    color: blue;
}